<mat-list>
  <mat-card class="home-card income-card">
    <mat-list>
      <mat-list-item>
        <span  [ngClass]="'leftColumn'">Monthly Income</span>
        <span  [ngClass]="'rightColumn'">{{ budgetData.sumIncome | currency }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="home-card budget-card">
    <mat-grid-list cols="3" rowHeight="27px" (click)="OnPreTaxClick()">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span  [ngClass]="'leftColumn'">Pre-Tax Expense</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <svg class="rightColumn chevron" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 18 18">
          <path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z" />
        </svg>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span [ngClass]="'leftColumn'">{{ budgetData.sumPreTaxExpense | currency }}</span>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="27px" (click)="OnTaxClick()">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span  [ngClass]="'leftColumn'">Tax</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <svg class="rightColumn chevron" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 18 18">
          <path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z" />
        </svg>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span [ngClass]="'leftColumn'">{{ budgetData.sumTaxExpense | currency }}</span>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="27px" (click)="OnExpenseClick()">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span  [ngClass]="'leftColumn'">Expense</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <svg class="rightColumn chevron" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 18 18">
          <path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z" />
        </svg>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span [ngClass]="'leftColumn'">{{ budgetData.sumExpense | currency }}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="home-card income-card">
    <mat-list>
      <mat-list-item>
        <span  [ngClass]="'leftColumn'">Remaining Income</span>
        <span  [ngClass]="'rightColumn'">{{ 99 | currency }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-list>