<mat-list>
    <mat-card *ngFor="let category of savingsCategories" class="home-card category-card" (click)="OnSavingsCategoryClick(category)">
        <mat-list>
            <mat-list-item>
                <span  [ngClass]="'leftColumn'">{{category.name}}</span>
                <span  [ngClass]="'rightColumn'">{{ category.value | currency }}</span>
            </mat-list-item>
        </mat-list>

        <mat-divider [ngClass]="'webOnly'" *ngIf="category.details.length > 0"></mat-divider>
        <mat-grid-list [ngClass]="'webOnly'" *ngIf="category.details.length > 0" cols="2" rowHeight="35px">
            <a *ngFor="let detail of category.details">
                <mat-grid-tile>
                    <span matCardSubtitle [ngClass]="'leftColumn'">{{ detail.year == currentYear ? 'Current' : detail.year }}</span>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span matCardSubtitle [ngClass]="'rightColumn'">{{ detail.value | currency }}</span>
                </mat-grid-tile>
            </a>
        </mat-grid-list>
    </mat-card>
</mat-list>